/* The idea is to have the background part white and the inside part off-white */
* {
    padding: 10px 0 10px 0; 
}

div {
    background-color: #f9f4ef;;
}

.title {
    text-align: center;
    color: #8c7851;
}

.dropdown_menu {
    text-align: center;
    background-color: #fff;
    font-size: 20px;
}

footer {
    padding-left: 50px;
    font-size: 10px;
}

.col-md-6 {
    background-color: #fff;
}

.heading {
    margin: 0 25px 25px 25px;
}

.dz_selection {
    padding: 0;
}

.jumbotron {
    padding: 0;
}

.comments {
    text-align: center;
    background-color: #fff;
    padding: 0;
    border: 1px solid #000;
}

body {
    margin: 0;
    padding: 0;
}

#dz_selector {
    margin-left: 20px;
    transition-duration: 0.4s;
    background-color: #8c7851;
    color: #fffffe;
    padding: 5px 10px;
    border-radius: 5px;
}

#dz_selector:hover {
    background-color: #fffffe;
    color: #8c7851;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}