* {
    padding: 10px 0 10px 0; 
}

div {
    background-color: #f9f4ef;
    border-radius: 10px;
}

body {
    margin: 0;
    padding: 0;
}

footer {
    padding-left: 70px;
    font-size: 10px;
}

u {
    text-decoration-color: #f25042;
}

/* Style title */
.title {
    text-align: center;
    color: #8c7851;
}

/* Style dropzone selection */
.dropdown_menu {
    text-align: center;
    background-color: #fffffe;
    font-size: 20px;
}

.dz_selection {
    padding: 0;
}

.custom_btn {
    margin-left: 20px;
    transition-duration: 0.4s;
    background-color: #8c7851;
    color: #fffffe;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0.5px 1px #8c7851;
}

.custom_btn:hover {
    background-color: #fffffe;
    color: #8c7851;
}

/* Style bootstrap content */
.col-md-6 {
    background-color: #fff;
}

.jumbotron {
    padding: 0;
}

.jumbotron h3 {
    color: #8c7851;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Style displayed contents of JSON dropzone object */
.indent {
    padding-left: 5%;
}

/* Style comment section - CSS was adapted from the youtube tutorial by Mr. Web Designer found here: https://www.youtube.com/watch?v=vsycEiO6Itc */
.comments {
    border: 1px solid #8c7851; 
    background-color: #f9f4ef;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 5px;
}

.comment_inputs {
    display: flex;
    text-align: right;
    justify-content: center;
    display: inline-block;
    letter-spacing: 3px;
    width: 90%;
}

#comment_field {
    width: 100%;
    padding: 1.5%;
    box-shadow: 0 0.5px 1px #8c7851;
    margin-bottom: 2%;
    border-radius: 5px;
}

.commentbox_container {
    display: inline-block;
    width: 90%;
    text-align: right; 
}

.comment_box {
    width: 100%;
    height: 50vh;
    background-color: #fffffe;
    overflow-y: auto;
    text-align: left;
    border: 1px solid #8c7851;
    border-radius: 5px;
}
