/* The idea is to have the background part white and the inside part off-white */
* {
    padding: 10px 0 10px 0;
}

div {
    background-color: #f9f4ef;
}

#title {
    text-align: center;
    color: #8c7851;
}

.dropdown_menu {
    text-align: center;
    background-color: #fff;
    font-size: 20px;
}

footer {
    padding-left: 25px;
}

.col-md-6 {
    background-color: #fff;
}

.heading {
    margin: 0 25px 25px 25px;
}